.story {
    font-size: $default-font-size;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);

    /* Used ro anti skew the content from the shape. Doesn't work in this case due
    to &__shape having a transform and two transforms currently don't work at the 
    same time */

    /*The selector selects all direct childs of the element*/

    // & > * {
    //     transform: skewX(-12deg);
    // }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        background-color: orangered;
        //Only works if element is floated and have dimensions
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        //to space an element which is floated, better to use transform than using margins
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img {
        height: 100%;
        transform: translateX(-2em) scale(1.4);
        transition: all 0.5s;

    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        // Used to correct translate glitch that happens sometimes
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-2em) scale(1);
        //adding filters to image. Brightness default =  100%
        filter: blur(3px) brightness(80%);
    }
}